*.pyc
*.pickle
log*
results*
__pycache__/
checkpoints/
data/
/.idea/
*.zip
*.backup
*.npz
*.npy
*.h5
.fuse*
.~lock*
*.so
*.ckpt.*
*.pyc
*.out.*
/models/pretrained/
/benchmark_datasets/
benchmark_datasets
*benchmark_datasets*
*.pickle
/log
*.ckpt